# if gitignore does not work:
# git rm -r --cached .

**/Teoria/
.vscode
**/Problem
*.lof
*.zip
**/Examen/

# python
.idea
.ipynb_checkpoints
__pycache__
__MACOSX

#log

*.log


# AI
AI/Teoria
AI/**/Psource


# SO2
SO2/**/data
SO2/**/Psoure

SO2/Practica/Practica_1/practica4/matrix.bin

SO2/practica/Practica_3/P3-Analisi de codi/codi/*.csv

SO2/practica/Practica_4/codi/codi/*.csv


# TallerNousUsos
TallerNousUsos/Practica/**/Psoure
TallerNousUsos/Practica/TNUI_P1/data

TallerNousUsos/Practica/TNUI_P2/ml-1m

TallerNousUsos/Practica/TNUI_P3/data

TallerNousUsos/Practica/TNUI_P4/data

# VisioAI
VisioAI/**/Psource



# Xarxa
Xarxa/**/Psource


