**/Teoria/

**/Problem

*.lof

# python
/.idea/

.ipynb_checkpoints

__pycache__

__MACOSX


# AI


# SO2


# TallerNousUsos
TallerNousUsos/Practica/TNUI_P1/data


# VisioAi


# Xarxa